<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>

    <title>Sonatype Template</title>

    <link type="text/css" rel="stylesheet" media="all" href="style.css">
  </head>

  <body class="not-front sidebar-right">
    <div id="page">
      <div id="header">
        <div id="logo-title">
          <a href="http://sonatype.com/" title="Home" rel="home" id="logo"><img src="images/sonatype_logo.gif" alt="Home"></a>
        </div>
        <!-- /logo-title -->

        <div id="navigation">
          <div id="primary">
            <ul class="links primary-links">
              <li><a href="http://sonatype.com/products" title="Products">PRODUCTS &amp; SERVICES</a></li>
              <li><a href="http://sonatype.com/about" title="About Sonatype">ABOUT</a></li>
              <li><a href="http://blogs.sonatype.com/" title="Sonatype Blogs">BLOGS</a></li>
              <li><a href="http://store.sonatype.com/" title="Buy Sonatype products">STORE</a></li>
              <li><a href="http://www.sonatype.com/contact" title="Contact Sonatype">CONTACT</a></li>
            </ul>
          </div>
        </div>
        <!-- /navigation -->

        <div id="header-region">
          <h1 class="title">About Sonatype</h1>
        </div>

      </div>
      <!-- /header -->

      <div id="main">
        <div id="main-inner">
          <div id="content" class="column">
            <div id="content-inner">
              <div id="content-area">
                <div>
                  <div>
                    <div class="content">
                      <p>Sonatype
                        provides a development infrastructure platform based on the Apache
                        Maven project. Although many software development methodologies exist,
                        when it comes to instructions used to construct, assemble, test, and
                        deploy software in practice most systems are a set of ad-hoc tools and
                        processes with no standardization, incurring very high costs.</p>

                      <p>With the advent of Maven there is now a common metadata model,
                        common processes, and common practices that can be used to create a
                        standard development infrastructure. This infrastructure can not only
                        consume information from similar development infrastructures, but also
                        expose critical data about the composition of software to the rest of
                        an organization.</p>

                      <table>
                        <tr>
                          <th>header1</th>
                          <th>header2</th>
                          <th>header3</th>
                          <th>header4</th>
                        </tr>
                        <tr>
                          <td>value1</td>
                          <td>value2</td>
                          <td>value3</td>
                          <td>value4</td>
                        </tr>
                        <tr>
                          <td>value1</td>
                          <td>value2</td>
                          <td>value3</td>
                          <td>value4</td>
                        </tr>
                        <tr>
                          <td>value1</td>
                          <td>value2</td>
                          <td>value3</td>
                          <td>value4</td>
                        </tr>
                      </table>

                      <p>Sonatype is the Maven Company. Founded in 2008 by Jason van Zyl, the
                        creator of Apache Maven, Sonatype delivers value-added products and
                        services for organizations that use Maven to improve their software
                        build and release infrastructure. Headquartered in Mountain View, CA,
                        Sonatype is privately held with investments from Hummer Winblad Venture
                        Partners and Morgenthaler Ventures.</p>

                      <h2>Sonatype: Supporting Enterprise Software Development</h2>
                      <ul>
                        <li>Read the <a href="http://sonatype.com/about/whitepaper">Sonatype Whitepaper</a> which describes Sonatype, our products and services, and
                          the open source ecosystem we support.
                        </li>
                        <li>Read about Sonatype <a href="http://www.sonatype.com/about/press">In the Press</a></li>
                        <li>Find out about Sonatype's <a href="http://www.sonatype.com/about/jobs">Job Opportunities</a></li>
                        <li>Read the latest <a href="http://www.sonatype.com/newsletter">Sonatype Newsletter</a></li>
                      </ul>
                      <p>If you have any questions, feedback, or would like to learn more about Sonatype? Please <a href="http://www.sonatype.com/contact">contact
                        us</a>.</p>

                      <h2>About our company name</h2>

                      <p>"The company is called Sonatype, which to us means an optimally
                        healthy model. In fact, "sona" means gold in Hindi, and "type" means
                        model in Latin, so Sonatype can be thought of as the gold standard in
                        build and release engineering."--<em>Jason van Zyl, founder and CTO of Sonatype (From Jason's interview on <a
                                href="http://www.ddj.com/linux-open-source/208800730">Dr. Dobb's</a>)</em></p>

                      <code>
some() {
 test and this text goes off to the side of the page to test the overflow for the code tag;
}
                        
&lt;her&gt;
  &lt;is&gt;some&lt;/is&gt;
  &lt;xml&gt;to&lt;/xml&gt;
  &lt;show&gt;around&lt;/show&gt;
&lt;/her&gt;

&lt;her&gt;
  &lt;is&gt;some&lt;/is&gt;
  &lt;xml&gt;to&lt;/xml&gt;
  &lt;show&gt;around&lt;/show&gt;
&lt;/her&gt;

&lt;her&gt;
  &lt;is&gt;some&lt;/is&gt;
  &lt;xml&gt;to&lt;/xml&gt;
  &lt;show&gt;around&lt;/show&gt;
&lt;/her&gt;
                      </code>
                    </div>

                  </div>
                  <!-- end node-inner -->
                </div>
                <!-- end node-->

              </div>
            </div>
          </div>
          <!-- /content-inner /content -->


          <!-- SIDEBAR RIGHT -->
          <div id="sidebar-right">
            <div id="sidebar-right-inner">
              <div id="top-right">
                <div>
                  <div class="content">
                    <h3>Menu Title</h3>
                    <ul class="menu">
                      <li><a href="http://sonatype.com/about/whitepaper" title="">Sonatype Whitepaper With Some Really Long Text</a></li>
                      <li><a href="http://sonatype.com/about/in-the-news" title="Press releases, news articles, and blogs">In the news</a></li>
                      <li><a href="http://sonatype.com/webinars" title="Webinars">Webinars</a></li>
                      <li><a href="http://sonatype.com/about/events" title="Sonatype events">Events</a></li>
                      <li><a href="http://sonatype.com/about/partners" title="Sonatype Partners">Partners</a></li>
                      <li><a href="http://sonatype.com/newsletter" title="">Monthly Newsletter</a></li>
                      <li><a href="http://sonatype.com/about/jobs" title="Job openings at Sonatype">Job Opportunities</a></li>
                      <li><a href="http://sonatype.com/contact" title="Contact us">Contact Sonatype</a></li>
                    </ul>
                  </div>
                </div>

                <div>
                  <h3>Menu Title</h3>
                  <div class="content">
                    <ul class="menu">
                      <li><a href="http://sonatype.com/about/whitepaper" title="">Sonatype Whitepaper</a></li>
                      <li><a href="http://sonatype.com/about/in-the-news" title="Press releases, news articles, and blogs">In the news</a></li>
                      <li><a href="http://sonatype.com/webinars" title="Webinars">Webinars</a></li>
                      <li><a href="http://sonatype.com/about/events" title="Sonatype events">Events</a></li>
                      <li><a href="http://sonatype.com/about/partners" title="Sonatype Partners">Partners</a></li>
                      <li><a href="http://sonatype.com/newsletter" title="">Monthly Newsletter</a></li>
                      <li><a href="http://sonatype.com/about/jobs" title="Job openings at Sonatype">Job Opportunities</a></li>
                      <li><a href="http://sonatype.com/contact" title="Contact us">Contact Sonatype</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /sidebar-right -->
        </div>
        <!-- /main-inner -->
      </div>
      <!-- /main -->

      <div id="footer">
        <div id="block-menu-secondary-links">
          <div class="content">
            <ul class="menu">
              <li class="leaf first active-trail"><a href="http://sonatype.com/about" title="About Sonatype" class="active">About</a></li>
              <li class="leaf"><a href="http://sonatype.com/about/privacy" title="Sonatype Privacy Policy">Privacy Policy</a></li>
              <li class="leaf last"><a href="http://sonatype.com/about/terms" title="Sonatype Terms of Use">Terms of Service</a></li>
            </ul>
          </div>
        </div>
        <div>
          <div class="content">
            <p style="margin-right: 20px; margin-left: 20px; font-size: 80%;">Copyright &copy; 2008-2009, Sonatype Inc. All rights reserved. Includes the third-party
              code listed at <a href="http://www.sonatype.com/products/nexus/attributions">http://www.sonatype.com/products/nexus/attributions</a>.
              Sonatype and Sonatype Nexus are trademarks of Sonatype, Inc. Apache
              Maven is a trademark of the Apache Foundation. M2Eclipse is a trademark
              of the Eclipse Foundation. All other trademarks are the property of
              their respective owners.</p>
            <p style="margin-right: 20px; margin-left: 20px; font-size: 80%;">Documentation generated by <a href="http://enunciate.codehaus.org">Enunciate</a>.</p>
          </div>
        </div>
      </div>
      <!-- /footer -->
    </div>
    <!-- /page -->
  </body>
</html>